@page
@model Orion.Pages.Admin.adminMaterialModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
   
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="cssAdmin/bootstrap.min.css">
     <!----css3---->
    <link rel="stylesheet" href="cssAdmin/custom.css">
     <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
  <!-- box icons  -->
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!--google material icon-->
<link href="https://fonts.googleapis.com/css2?family=Material+Icons"
rel="stylesheet">
 <!-- custom css file link  -->
    <link rel="stylesheet" href="cssAdmin/main-products.css">
    <title>Materials</title>

</head>

<body>
    <div class="wrapper">


        <div class="body-overlay"></div>


        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3><img src="img/GRAD logo dark.png" class="img-fluid" /><span id="admoon">Welcome Amr</span></h3>
            </div>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="Dashboard.html" class="dashboard"><i class="material-icons">dashboard</i><span>Dashboard</span></a>
                </li>
                <li class="dropdown">
                    <a href="#pageSubmenu5" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="material-icons">border_color</i><span>forms</span>
                    </a>
                    <ul class="collapse list-unstyled menu" id="pageSubmenu5">
                        <li>
                            <a href="AddAdmin.html">Add admin</a>
                        </li>
                        <li>
                            <a href="addCategory.html">Add category</a>
                        </li>
                        <li>
                            <a href="addMaterial.html">Add material</a>
                        </li>
                        <li>
                            <a href="AddSuper.html">Add Supervisors</a>
                        </li>
                        <li>
                            <a href="AddOrphanage.html">Add Orphanage</a>
                        </li>
                        <li>
                            <a href="editOrphanage.html">Edit Orphanage</a>
                        </li>
                        <li>
                            <a href="EditMaterial.html">Edit material</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#pageSubmenu6" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="material-icons">grid_on</i><span>tables</span>
                    </a>
                    <ul class="collapse list-unstyled menu" id="pageSubmenu6">
                        <li>
                            <a href="orphanageSSS.html">Orphanages table</a>
                        </li>
                        <li>
                            <a href="supertable.html">Supervisors table</a>
                        </li>
                        <li>
                            <a href="childstable.html">stars table</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#pageSubmenu7" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="material-icons">content_copy</i><span>Pages</span>
                    </a>
                    <ul class="collapse list-unstyled menu" id="pageSubmenu7">
                        <li>
                            <a href="adminMaterial.html">Materials</a>
                        </li>
                        <li>
                            <a href="ContactUs.html">Contact Us</a>
                        </li>

                    </ul>
                </li>
            </ul>


        </nav>



        <!-- Page Content  -->
        <div id="content">

            <div class="top-navbar">
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">

                        <button type="button" id="sidebarCollapse" class="d-xl-block d-lg-block d-md-mone d-none">
                            <span class="material-icons">arrow_back_ios</span>
                        </button>

                        <a class="navbar-brand" href="#"> Dashboard </a>

                        <button class="d-inline-block d-lg-none ml-auto more-button" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="material-icons">more_vert</span>
                        </button>


                    </div>
                </nav>
            </div>


            <!-- SHOP SECTION  -->
    <section class="shop-container">
        <div class="orion-categ">
            <form method="get" id="productTypeForm">
                <input type="hidden" name="SearchQuery" value="@Model.SearchQuery" />
                <button type="submit" name="materialType" value="Beads" class="categoryyy">
                    <div class="category-img">
                        <img src="img/pexels-cottonbro-studio-3838692.jpg" alt="">
                    </div>
                    <p>Beads</p>
                </button>
                <button type="submit" name="materialType" value="Crochet" class="categoryyy">
                    <div class="category-img">
                        <img src="img/pexels-miriam-alonso-7585238.jpg" alt="">
                    </div>
                    <p>Crochet</p>
                </button>
                <button type="submit" name="materialType" value="Resin" class="categoryyy">
                    <div class="category-img">
                        <img src="img/pexels-miriam-alonso-7585704.jpg" alt="">
                    </div>
                    <p>Resin</p>
                </button>
                <button type="submit" name="materialType" value="Punch needle" class="categoryyy">
                    <div class="category-img">
                        <img src="img/pexels-thirdman-7256642.jpg" alt="">
                    </div>
                    <p>Punch needle</p>
                </button>
                <a href="addCategory.html" class="categoryyy">
                    <button type="button">
                        <div class="category-img">
                            <img src="img/vector61-714-01.jpg" alt="">
                        </div>
                        <p>Add category</p>
                    </button>
                </a>


            </form>
        </div>
    
            <!-- ------------------------categories end search start-------------------------------------- -->
           
        <div class="container-search">
            @* Slow Rendering *@
            <form method="get">
                <input type="text" placeholder="Search" name="SearchQuery" class="input-search" value="@Model.SearchQuery">
                <input type="hidden" name="MaterialType" value="@Model.MaterialType" />
                <button type="submit">
                    <svg fill="#000000" width="20px" height="20px" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg">
                        <path d="M790.588 1468.235c-373.722 0-677.647-303.924-677.647-677.647 0-373.722 303.925-677.647 677.647-677.647 373.723 0 677.647 303.925 677.647 677.647 0 373.723-303.924 677.647-677.647 677.647Zm596.781-160.715c120.396-138.692 193.807-319.285 193.807-516.932C1581.176 354.748 1226.428 0 790.588 0S0 354.748 0 790.588s354.748 790.588 790.588 790.588c197.647 0 378.24-73.411 516.932-193.807l516.028 516.142 79.963-79.963-516.142-516.028Z" fill-rule="evenodd"></path>
                    </svg>
                </button>
            </form>
        </div>


              <!-- ----------------------------------search end subcategory start--------------------------------  -->
            
        <h2 class="section-title">Shop materials</h2>

        <!-- CONTENT  -->
                <div class="shop-content">
            @for (int i = 0; i < Model.Material.Count; i++)
            {
                var name = Model.Material[i].MaterialName;
                var img = Model.Material[i].Image;
                var price = Model.Material[i].MaterialPrice;
                var id = Model.Material[i].Id;
                var imgSrc = img != null ? $"data:image/jpg;base64,{Convert.ToBase64String(img)}" : "img/product1.jpg"; // Fallback image

                <div class="Material-box">
                    <a href="/Admin/adminMaterial?MaterialId=@id"><img src="@imgSrc" alt="" class="Material-img"></a>
                    <h2 class="Material-title">@name</h2>
                    <span class="Material-price">$@price</span>
                     <span class="Material-id">@id</span> 
                  @*   <i class='bx bx-shopping-bag add-cart'></i> *@
                </div>
            }


            @* <!-- BOX 1 -->
            <div  class="product-box">
                <a href="details.html"><img src="img/vector61-714-01.jpg" alt="" class="product-img"></a>
                <h2 class="product-title">add material</h2>
                <i class='bx bx-plus add-cart'></i>
            </div>
            <!-- BOX 2 -->
            <div  class="product-box">
                <a href="details.html"><img src="img/product2.jpg" alt="" class="product-img"></a>
                <h2 class="product-title">BACKPACK</h2>
                <span class="product-price">$59.5</span>
                <i class="bx bx-trash add-cart"></i>
            </div>
            <!-- BOX 3 -->
            <div  class="product-box">
               <a href="details.html"> <img src="img/product3.jpg" alt="" class="product-img"></a>
                <h2 class="product-title">METAL BOTTLE</h2>
                <span class="product-price">$29.5</span>
                <i class="bx bx-trash add-cart"></i>
            </div>
            <!-- BOX 4 -->
            <div  class="product-box">
                <a href="details.html"><img src="img/product4.jpg" alt="" class="product-img"></a>
                <h2 class="product-title">METAL SUNGLASSES</h2>
                <span class="product-price">$105</span>
                <i class="bx bx-trash add-cart"></i>
            </div>
            <!-- BOX 5 -->
            <div class="product-box">
               <a href="details.html"> <img src="img/product5.jpg" alt="" class="product-img"></a>
                <h2 class="product-title">PS5 Controller</h2>
                <span class="product-price">$95</span>
                <i class="bx bx-trash add-cart"></i>
            </div>
            <!-- BOX 6 -->
            <div class="product-box">
               <a href=""> <img src="img/product6.jpg" alt="" class="product-img"></a>
                <h2 class="product-title">Galaxy Z Fold</h2>
                <span class="product-price">$1400</span>
                <i class="bx bx-trash add-cart"></i>
            </div>
            <!-- BOX 7 -->
            <div class="product-box">
                <a href="details.html"><img src="img/product7.jpg" alt="" class="product-img"></a>
                <h2 class="product-title">Nokon Camera</h2>
                <span class="product-price">$1700</span>
                <i class="bx bx-trash add-cart"></i>
            </div>
            <!-- BOX 8 -->
            <div class="product-box">
               <a href="details.html"> <img src="img/product8.jpg" alt="" class="product-img"></a>
                <h2 class="product-title">Apple Watch</h2>
                <span class="product-price">$110.5</span>
                <i class="bx bx-trash add-cart"></i>
            </div> *@
        </div>
    </section>

   <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
   
   
   <script type="text/javascript">
   $(document).ready(function () {
             $('#sidebarCollapse').on('click', function () {
                 $('#sidebar').toggleClass('active');
                 $('#content').toggleClass('active');
             });
             
              $('.more-button,.body-overlay').on('click', function () {
                 $('#sidebar,.body-overlay').toggleClass('show-nav');
             });
             
         });
 
  
 </script>
   
</body>

</html>