@page
@model Orion.Pages.Admin.DashboardModel
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <title>Orion Dashboard</title>
	    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="cssAdmin/bootstrap.min.css">
	    <!----css3---->
        <link rel="stylesheet" href="cssAdmin/custom.css">
		<!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
	
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

	
	
	
	<!--google material icon-->
        <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet">
  </head>
  <body>

<div class="wrapper">


<div class="body-overlay"></div>


        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3><img src="img/GRAD logo dark.png" class="img-fluid"/><span id="admoon">Welcome Amr</span></h3>
            </div>
            <ul class="list-unstyled components">
			<li  class="active">
                    <a href="Dashboard.html" class="dashboard"><i class="material-icons">dashboard</i><span>Dashboard</span></a>
                </li>
				<li class="dropdown">
                    <a href="#pageSubmenu5" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
					<i class="material-icons">border_color</i><span>forms</span></a>
                    <ul class="collapse list-unstyled menu" id="pageSubmenu5">
                        <li>
                            <a href="AddAdmin.html">Add admin</a>
                        </li>
                        <li>
                            <a href="addCategory.html">Add category</a>
                        </li>
                        <li>
                            <a href="addMaterial.html">Add material</a>
                        </li>
                        <li>
                            <a href="AddSuper.html">Add Supervisors</a>
                        </li>
                        <li>
                            <a href="AddOrphanage.html">Add Orphanage</a>
                        </li>
                        <li>
                            <a href="editOrphanage.html">Edit Orphanage</a>
                        </li>
                        <li>
                            <a href="EditMaterial.html">Edit material</a>
                        </li>
                    </ul>
                </li>
		   
			   <li class="dropdown">
                    <a href="#pageSubmenu6" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
					<i class="material-icons">grid_on</i><span>tables</span></a>
                    <ul class="collapse list-unstyled menu" id="pageSubmenu6">
                        <li>
                            <a href="orphanageSSS.html">Orphanages table</a>
                        </li>
                        <li>
                            <a href="supertable.html">Supervisors table</a>
                        </li>
                        <li>
                            <a href="childstable.html">stars table</a>
                        </li>
                    </ul>
                </li>
		   
			     <li class="dropdown">
                    <a href="#pageSubmenu7" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
					<i class="material-icons">content_copy</i><span>Pages</span></a>
                    <ul class="collapse list-unstyled menu" id="pageSubmenu7">
                        <li>
                            <a href="adminMaterial.html">Materials</a>
                        </li>
                        <li>
                            <a href="ContactUs.html">Contact Us</a>
                        </li>
                        
                    </ul>
                </li>
         </ul>

           
        </nav>
		
		

        <!-- Page Content  -->
        <div id="content">
		
		<div class="top-navbar">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="d-xl-block d-lg-block d-md-mone d-none">
                        <span class="material-icons">arrow_back_ios</span>
                    </button>
					
					<a class="navbar-brand" href="#"> Dashboard </a>
					
                    <button class="d-inline-block d-lg-none ml-auto more-button" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="material-icons">more_vert</span>
                    </button>

                   
                </div>
            </nav>
	    </div>
			
			
			<div class="main-content">
			
			<div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header">
                            <div class="icon icon-warning">
                               <span class="material-icons">equalizer</span>
                            </div>
                        </div>
                        <div class="card-content">
                            <p class="category"><strong>Sponsors</strong></p>
                            <h3 class="card-title">@Model.SponsCount</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons text-info">info</i>
                                <a href="#pablo">See detailed report</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header">
                            <div class="icon icon-rose">
                               <span class="material-icons">shopping_cart</span>

                            </div>
                        </div>
                        <div class="card-content">
                            <p class="category"><strong>Orders</strong></p>
                                <h3 class="card-title">@Model.CartCount</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons text-info">info</i>
                                <a href="#pablo">See detailed report</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header">
                            <div class="icon icon-success">
                                <span class="material-icons">
attach_money
</span>

                            </div>
                        </div>
                        <div class="card-content">
                            <p class="category"><strong>Revenue</strong></p>
                            <h3 class="card-title">$@Model.RevCount</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header">
                                    <div class="icon icon-warning">
                                       <span class="material-icons">equalizer</span>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <p class="category"><strong>Stars</strong></p>
                                <h3 class="card-title">@Model.FreeCount</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons text-info">info</i>
                                        <a href="childstable.html">See detailed report</a>
                                    </div>
                                </div>
                            </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header">
                                    <div class="icon icon-rose">
                                       <span class="material-icons">shopping_cart</span>

                                    </div>
                                </div>
                                <div class="card-content">
                                    <p class="category"><strong>Orphanages</strong></p>
                                <h3 class="card-title">@Model.OrphCount</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons text-info">info</i>
                                        <a href="orphanageSSS.html">See detailed report</a>
                                    </div>
                                </div>
                            </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header">
                                    <div class="icon icon-success">
                                        <span class="material-icons">
attach_money
</span>

                                    </div>
                                </div>
                                <div class="card-content">
                                    <p class="category"><strong>Donations</strong></p>
                                    <h3 class="card-title">$@Model.DonCount</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                       
                                    </div>
                                </div>
                            </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header">
                                    <div class="icon icon-warning">
                                       <span class="material-icons">equalizer</span>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <p class="category"><strong>Supervisors</strong></p>
                                <h3 class="card-title">@Model.SuperCount</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons text-info">info</i>
                                        <a href="supertable.html">See detailed report</a>
                                    </div>
                                </div>
                            </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header">
                                    <div class="icon icon-rose">
                                       <span class="material-icons">shopping_cart</span>

                                    </div>
                                </div>
                                <div class="card-content">
                                    <p class="category"><strong>Products</strong></p>
                                <h3 class="card-title">@Model.ProdCount</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons text-info">info</i>
                                        <a href="#pablo">See detailed report</a>
                                    </div>
                                </div>
                            </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header">
                                    <div class="icon icon-success">
                                        <span class="material-icons">
attach_money
</span>

                                    </div>
                                </div>
                                <div class="card-content">
                                    <p class="category"><strong>Materials</strong></p>
                                    <h3 class="card-title">$@Model.MatCount</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons text-info">info</i>
                                        <a href="adminMaterial.html">See detailed page</a>
                                    </div>
                                </div>
                            </div>
                </div>
                     
                

            </div>

                   






	
  
     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="js/jquery-3.3.1.slim.min.js"></script>
   <script src="js/popper.min.js"></script>
   <script src="js/bootstrap.min.js"></script>
   <script src="js/jquery-3.3.1.min.js"></script>
  
  
  <script type="text/javascript">
  $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
				$('#content').toggleClass('active');
            });
			
			 $('.more-button,.body-overlay').on('click', function () {
                $('#sidebar,.body-overlay').toggleClass('show-nav');
            });
			
        });


     
           
       
</script>
  
  



  </body>
  
  </html>


