@page
@model childProfileModel
@{
    Layout = "~/pages/shared/_layout.cshtml";
}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/cssEndUser/profilee.css" />

    <link rel="stylesheet" href="fontawesome-free-6.4.0-web/css/all.min.css">


    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <title>Profile </title>

  </head>
  <body>
    

    <div class="header__wrapper">
      <header></header>
        <input type="hidden" asp-for="Freelancer.UserId" />
        <div class="cols__container">
            <div class="left__col">
                <div class="img__container">
                    @if (Model.FreelancerImg != null && Model.FreelancerImg.Any())
                    {
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.FreelancerImg)" alt="Freelancer Photo" />
                    }
                    <h2>Logy Ali</h2>
                    <p>Crochet artist</p>
                    <p><a href="/orphanage.html?freelancerId=@Model.FreelancerId">@Model.FreelancerOrphanage</a></p>

                    <ul class="about">
                        <li><span>@Model.Age</span>years old</li>
                        <li><span>@Model.ProductsNum</span>products</li>
                        @* <li><span>11</span>sold</li> *@
                    </ul>

                    <div class="content">
                        <p>
                            @Model.FreelancerInfo
                        </p>
                        
                    </div>

                </div>
            </div>
            <div class="right__col">
                <nav>
                    <H2>Logy products</H2>
                </nav>

                <div class="photos">
                   
                    @foreach (var product in Model.FreelancerProduct)
                    {
                        var name = product.ProductName;
                        var img = product.ProductImage;
                        var price = product.ProductPrice;
                        var id = product.Id;
                        var imgSrc = img != null ? $"data:image/jpg;base64,{Convert.ToBase64String(img)}" : "img/product1.jpg"; // Fallback image

                        <div class="product-box">
                            <a href="details.html?productId=@id"><img src="@imgSrc" alt="@name" class="product-img"></a>
                            <h2 class="product-title">@name</h2>
                            <span class="product-price">$@price</span>
                            <input value="@id" class="product-id">
                            <i class='bx bx-shopping-bag add-cart'></i>
                        </div>
                    }

                </div>
                
            </div>
        </div>

   
    <!-- link js -->
    <script src="~/js/mainCart.js" asp-append-version="true"></script>
  </body>
</html>
