@page
@model Orion.Pages.EndUser.HomeModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="Ho1">
    <div class="cont1">
        <h1 class="T1">Get your <span class="spsp">Handmade</span> products<br>made with little star hands</h1><br>
        <p class="disc1">Makramea, Beaded accessories, Beaded bags, punch needle, Resin products,<br>Clayart products and more...</p>
        <a href="main-products.html"><button class="button22">Go shopping</button></a>
        <a href="raw.html"><button class="button22">Raw material</button></a>
    </div>
    <div class="imgs1">
        <img src="~/img/Untitled-5.png" alt="" data-speed="-3" class="move">
    </div>
</div>

<div class="Ho4">
    <div class="h4">
        <p class="p44" style="padding:2rem; line-height:2rem;">
            <span>Our story</span><br> "Orion" workshop in Egypt aims to teach the orphaned kids entrepreneurial skills for financial security.
        </p>
    </div>
    <div class="h4">
        <p class="p55" style="padding:2rem;">
            <span>Our Mission</span><br>This program helps kids without parents learn cool crafts. They make things with their hands and learn from helpers. This makes them feel proud and teaches them skills for a good future.
        </p>
    </div>
    <div class="h4">
        <p class="p66" style="padding:3rem;">
            <span>Our vision</span><br>Like the brilliant stars that light up the center of the Orion Nebula, we aim to awaken the compassion that is already innate in every one of our kids.
        </p>
    </div>
</div>

<div class="Ho3">
    <div class="h31">
        <p class="p311">Achieving<br> <span>10</span> SDGs</p>
        <img class="achieve-imgs" id="sdg" src="~/img/sdgs.PNG" alt="">
    </div>
    <div class="h312">
        <p>Sponsored<br> <span>@Model.OrphanagesNum</span> orphanages</p>
        <img class="achieve-imgs" src="~/img/spon.jfif" alt="">
    </div>
    <div class="h313">
        <p>Made<br> <span>@Model.ProductsNum</span> products</p>
        <img class="achieve-imgs" src="~/img/vector_cart.jpg" alt="">
    </div>
    <div class="h314">
        <p>Empowered<br> <span>@Model.FreelancerNum</span> children</p>
        <img class="achieve-imgs" src="~/img/empower.png" alt="">
    </div>
</div>

<div class="Ho2">
    <div class="H2up">
        <h1 class="t2U">Our Stars</h1>
    </div>
    <div class="photos">
        @foreach (var Freelancer in Model.Freelancer)
        {
            <div class="cardShop">
                <div class="imgbx">
                    <img src="data:image/jpeg;base64,@(Freelancer.StarPhoto != null ? Convert.ToBase64String(Freelancer.StarPhoto) : "")" alt="Freelancer Photo" />
                </div>
                <div class="content">
                    <div class="details">
                        <div class="name">
                            <h2>@(Freelancer.User?.FirstName ?? "Unknown")<br><span>@(Freelancer.Skill ?? "No skill provided")</span></h2>
                        </div>
                        <div class="prod-btn">
                            <a href="childProfile.html?freelancerId=@Freelancer.UserId" class="button22c">View profile</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="H2down">
        <h2 class="T2D">New star?</h2>
        <a href="orionForm.html">Enroll from here</a>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
<script src="~/js/scrollreveal.min.js"></script>
<script src="~/js/mainCart.js"></script>
<script src="~/js/homeNAV.js"></script>
